.homePage{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    color:rgb(255, 255, 255);
    height: 600px;
    width: 100%;    
    background-repeat: no-repeat;        
    background-size: 100% 100%;
}
.titleCardT{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.voltar, .avançar{
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 80px);
    width: 20px;
    background-color: rgba(255, 255, 255, 0.247);
    padding: 0 20px 0 20px;
    font-size: 2em;
    cursor: pointer;
    border-radius: 20px;
}
.voltar:hover, .avançar:hover{
    background-color: rgba(255, 255, 255, 0.445);
}
.voltar{
    margin-left: 20px;
}
.caixaTextHome{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100% - 40px);
    width: 87%;
}
.caixaTextHome p{
    margin-top: -15px;
}